body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 400px;    
    background-color: #210249;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .box-container {
      background-color: rgba(255, 255, 255, 0.9);
      height: auto;
      padding: 20px;
      width: 400px;
      margin: 200px auto;
      border-radius: 20px;

  }
  
  .page-title {
    color: #d8c200;
    margin: 0 0 5px;
  } 
   
  .page-logo {
    width: 200px;
  }  
  
  input {
    width: 175px;
    height: 35px;
    border: solid .5px #a39300;
    
    border-radius: 5px;
    text-align: center;
  }
  
  
  
  button {

    width: 175px;
    height: 40px;
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
    border: solid .5px #a39300;
  }
  #moedas {
      width: 175px;
      height: 40px;
      margin: 10px 0;
      border-radius: 10px;      
      text-align: center;
      border: solid .5px #a39300;
  }

  button:hover {
      background-color: #d8c200;
      transition: .5s;
      border: 1px solid #a39300;
      cursor: pointer;
  }
  
  
  #resultado {
      padding: 20px 0;
      margin-top: 15px;
      width: 400px;
      color: #000;
      border-radius: 15px;
      border: solid #d8c200; 
  }
  .footer {
    text-align: center;
    width: 100vw;    
    padding: 0px;
    color: #fff;
    font-size: 12px;
       
    
  }
  a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
  }